/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main Syle */
body{
	color: #333;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
	margin-bottom: 1.25rem;
	font-size: 1.1875rem;
line-height: 1.8125rem;
}

h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
}

h4{
	font-weight: 700;
}

.right{
	float: right;
}

.left{
	float: left;
}

/*hero-image*/
.hero-image {
	width: 100%;
	height: 538px;
	background-image: url("images/hero.jpg");
	background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-text{
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 30%;
    width: 100%;
    font-weight: lighter;
    color: #ffffff;
}
.hero-text img.hero-text-main{
    width: 75%;
    height: auto;	
}

.hero-main{
    position: relative;
    z-index: 10;
    overflow: hidden;
    height: 100px;
}
.hero-one{
}

.hero-two{
    position: relative;
z-index: 10;
overflow: hidden;
height: 31px;
}

.hero-text img.hero-text-one{
    width: 75%;
    height: auto;	
}
.hero-text img.hero-text-two{
    width: 75%;
    height: auto;	
}

/* menu -area*/

.menu-area {
	width: 100%;
	height: auto;
	display: flex;
}

.menu {
	width: 364px;
	height: 200px;
	background-color: blue;
}