/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main Syle */
body{
	color: #333;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height: auto;
	overflow-x: hidden;
}
	
/* Nav */
nav{
    position: relative;
    display: block;
    width: 850px;
    height: 36px;
    margin: 18px auto;
    text-align: left;
    z-index: 9998;
    top: 18px;
    margin: 0 auto;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2)))no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));    border: #000000 solid 1px;
    border-radius: 5px;
}

.navbar ul{
    display: table;
    width: 845px;
    table-layout: fixed;
    height: 36px;
}
.navbar ul>li{
    display: table-cell;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.navbar ul>li.nav-item:hover{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0.2)), color-stop(0.97, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0.1)), color-stop(0.998, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, .2)))no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    border: none;
}


.navbar ul a{
    display: block;
    text-decoration: none;
    text-align: center;
    height: 100%;
    color: #dedede;
}

.nav-item{
    padding-right: 10px;
    padding-top: 10px;
}

.nav-search input{
    width: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0.2)), color-stop(0.97, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0.1)), color-stop(0.998, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, .2)))no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    border: 0;
    height: 70%;
}

.nav-search .fa{
    position: absolute;
    top: 30%;
    right: 8%;
    color: #fff;
}
.b-l{
    border-left: #333 solid 1px;
}

/*hero-image*/

.hero-image {
	width: 100%;
	height: 538px;
	position: relative;
	background-image: url("images/hero.jpg");
	background-position: bottom;
    background-repeat: no-repeat;
    margin-top: -50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.centered p{
	margin-bottom: 20px;
}
.centered p:nth-of-type(1) {
	font-size:  -webkit-xxx-large;
}

.centered p:nth-of-type(2) {
	font-size: x-large;
}

.centered p:nth-of-type(3) {
	font-size: x-large;
}

.centered p:nth-of-type(3) a{
	color: white;
	text-decoration: none;
}
.centered p:nth-of-type(3) a:hover{
	text-decoration: underline;
}

.hero-text{
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 30%;
    width: 100%;
    font-weight: lighter;
    color: #ffffff;
}
.hero-text img.hero-text-main{
    width: 75%;
    height: auto;	
}

.hero-main{
    position: relative;
    z-index: 10;
    overflow: hidden;
    height: 100px;
}
.hero-one{
}

.hero-two{
    position: relative;
    z-index: 10;
    overflow: hidden;
    height: 31px;
}

.hero-text img.hero-text-one{
    width: 75%;
    height: auto;	
}
.hero-text img.hero-text-two{
    width: 75%;
    height: auto;	
}

/* menu -area*/

.menu-area {
	width: 100%;
	height: auto;
	display: flex;
}

.menu {
	width: 25vw;
	height: 200px;
}

.menu img {
	width: inherit;
}

/*footer*/
footer {
	font-size: small;
	text-align: center;
}

footer a {
	color: 	#08c;
}

footer a:nth-of-type(1) {
	margin-left: 5px;
}

footer a img {
	width: 15px;
    height: 15px;
}

footer p:nth-of-type(2) {
	margin-top: 10px;
}